@model SharedLibraryCore.Configuration.ApplicationConfiguration

@{
    ViewData["Title"] = SharedLibraryCore.Utilities.CurrentLocalization.LocalizationIndex["WEBFRONT_CONFIGURATION_TITLE"];
    string optionalText = SharedLibraryCore.Utilities.CurrentLocalization.LocalizationIndex["COMMAND_HELP_OPTIONAL"];
    string advancedText = SharedLibraryCore.Utilities.CurrentLocalization.LocalizationIndex["WEBFRONT_CONFIGURATION_ADVANCED"];
    string addText = SharedLibraryCore.Utilities.CurrentLocalization.LocalizationIndex["WEBFRONT_CONFIGURATION_ADD"];
}

<div class="row">
    <div class="col-12 text-white-50 configuration-form">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- start webfront settings -->
            <div class="form-group form-check bg-primary mb-0">
                <label class="form-check-label p-2 pl-4">
                    <input class="form-check-input has-related-content" data-related-content="#enable_webfront_content" asp-for="EnableWebFront" /> @Html.DisplayNameFor(model => model.EnableWebFront)
                </label>
            </div>
            <div id="enable_webfront_content" class="hide bg-dark pl-4 pr-4 pt-2 pb-2">
                <div class="form-group">
                    <label asp-for="WebfrontBindUrl" class="control-label"></label>
                    <input asp-for="WebfrontBindUrl" class="form-control bg-dark text-white-50" />
                    <span asp-validation-for="WebfrontBindUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ManualWebfrontUrl" class="control-label"></label>
                    <input asp-for="ManualWebfrontUrl" placeholder="@optionalText" class="form-control bg-dark text-white-50" />
                    <span asp-validation-for="ManualWebfrontUrl" class="text-danger"></span>
                </div>
            </div>
            <!-- end webfront settings -->

            <div class="form-group form-check bg-primary mb-0">
                <label class="form-check-label p-2 pl-4">
                    <input class="form-check-input" asp-for="EnableMultipleOwners" /> @Html.DisplayNameFor(model => model.EnableMultipleOwners)
                </label>
            </div>

            <div class="form-group form-check bg-primary mb-0">
                <label class="form-check-label p-2 pl-4">
                    <input class="form-check-input" asp-for="EnableSteppedHierarchy" /> @Html.DisplayNameFor(model => model.EnableSteppedHierarchy)
                </label>
            </div>

            <!-- start social link settings -->
            <div class="form-group form-check bg-primary mb-0">
                <label class="form-check-label p-2 pl-4">
                    <input class="form-check-input" data-related-content="#enable_social_content" asp-for="EnableSocialLink" /> @Html.DisplayNameFor(model => model.EnableSocialLink)
                </label>
            </div>
            <div id="enable_social_content" class="hide bg-dark pl-4 pr-4 pt-2 pb-2">
                <div class="form-group">
                    <label asp-for="SocialLinkAddress" class="control-label"></label>
                    <input asp-for="SocialLinkAddress" class="form-control bg-dark text-white-50" />
                    <span asp-validation-for="SocialLinkAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SocialLinkTitle" class="control-label"></label>
                    <input asp-for="SocialLinkTitle" class="form-control bg-dark text-white-50" />
                    <span asp-validation-for="SocialLinkTitle" class="text-danger"></span>
                </div>
            </div>
            <!-- end social link settings -->
            <!-- start custom say name settings -->
            <div class="form-group form-check bg-primary mb-0">
                <label class="form-check-label p-2 pl-4">
                    <input class="form-check-input" data-related-content="#enable_sayname_content" asp-for="EnableCustomSayName" /> @Html.DisplayNameFor(model => model.EnableCustomSayName)
                </label>
            </div>
            <div id="enable_sayname_content" class="hide bg-dark pl-4 pr-4 pt-2 pb-2">
                <div class="form-group">
                    <label asp-for="CustomSayName" class="control-label"></label>
                    <input asp-for="CustomSayName" class="form-control bg-dark text-white-50" />
                    <span asp-validation-for="CustomSayName" class="text-danger"></span>
                </div>
            </div>
            <!-- end custom say name settings -->

            <div class="form-group form-check bg-primary mb-0">
                <label class="form-check-label p-2 pl-4">
                    <input class="form-check-input" asp-for="IgnoreBots" /> @Html.DisplayNameFor(model => model.IgnoreBots)
                </label>
            </div>

            <div class="form-group form-check bg-primary mb-0">
                <label class="form-check-label p-2 pl-4">
                    <input class="form-check-input" data-related-content="#enable_webfront_connection_whitelist_content" asp-for="EnableWebfrontConnectionWhitelist" /> @Html.DisplayNameFor(model => model.EnableWebfrontConnectionWhitelist)
                </label>
            </div>
            <div id="enable_webfront_connection_whitelist_content" class="hide bg-dark pl-4 pr-4 pt-4 pb-4 ">
                @Html.EditorFor(model => model.WebfrontConnectionWhitelist, new { htmlAttributes = new { @class = "form-control bg-dark text-white-50 mb-2" } })
                <div class="btn btn-primary btn-block">@addText</div>
            </div>

            <div class="bg-primary mt-4">
                <div class="p-2 pl-4">@advancedText</div>
            </div>
            <div class="bg-dark pl-4 pr-4 pt-2 pb-2">
                <div class="form-group">
                    <label asp-for="CustomParserEncoding" class="control-label"></label>
                    <input asp-for="CustomParserEncoding" placeholder="@optionalText" class="form-control bg-dark text-white-50" />
                    <span asp-validation-for="CustomParserEncoding" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomLocale" class="control-label"></label>
                    <input asp-for="CustomLocale" placeholder="@optionalText" class="form-control bg-dark text-white-50" />
                    <span asp-validation-for="CustomLocale" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DatabaseProvider" class="control-label"></label>
                    <input asp-for="DatabaseProvider" placeholder="@optionalText" class="form-control bg-dark text-white-50" />
                    <span asp-validation-for="DatabaseProvider" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConnectionString" class="control-label"></label>
                    <input asp-for="ConnectionString" placeholder="@optionalText" class="form-control bg-dark text-white-50" />
                    <span asp-validation-for="ConnectionString" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RConPollRate" class="control-label"></label>
                    <input asp-for="RConPollRate" class="form-control bg-dark text-white-50" />
                    <span asp-validation-for="RConPollRate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MaximumTempBanTime" class="control-label"></label>
                    <input asp-for="MaximumTempBanTime" class="form-control bg-dark text-white-50" />
                    <span asp-validation-for="MaximumTempBanTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AutoMessagePeriod" class="control-label"></label>
                    <input asp-for="AutoMessagePeriod" class="form-control bg-dark text-white-50" />
                    <span asp-validation-for="AutoMessagePeriod" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>
@section scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/js/configuration.js"></script>
    </environment>
}

