@using SharedLibraryCore.Dtos.Meta.Responses
@model SharedLibraryCore.Helpers.ResourceQueryHelperResult<MessageResponse>

@if (ViewBag.Error != null)
{
    <h4 class="text-red">@SharedLibraryCore.Utilities.FormatExt(ViewBag.Localization["WEBFRONT_INVALID_QUERY"], ViewBag.Error.Message)</h4>
}

else
{
    <h4 class="pb-3 text-center">@SharedLibraryCore.Utilities.FormatExt(ViewBag.Localization["WEBFRONT_STATS_MESSAGES_FOUND"], Model.TotalResultCount.ToString("N0"))</h4>

    <table class="table table-striped table-hover">
        <thead class="d-none d-lg-table-header-group">
            <tr class="bg-primary pt-2 pb-2">
                <th scope="col">@ViewBag.Localization["WEBFRONT_PENALTY_TEMPLATE_ADMIN"]</th>
                <th scope="col">@ViewBag.Localization["WEBFRONT_ACTION_LABEL_MESSAGE"]</th>
                <th scope="col">@ViewBag.Localization["WEBFRONT_STATS_MESSAGE_SERVER_NAME"]</th>
                <th scope="col" class="text-right">@ViewBag.Localization["WEBFRONT_ADMIN_AUDIT_LOG_TIME"]</th>
            </tr>
        </thead>
        <tbody id="message_table_body" class="border-bottom bg-dark">
            <partial name="Message/_Item" model="@Model.Results" />
        </tbody>
    </table>

    <span id="load_more_messages_button" class="loader-load-more oi oi-chevron-bottom text-center text-primary w-100 h3 pb-0 mb-0 d-none d-lg-block"></span>

    @section scripts {
        <environment include="Development">
            <script type="text/javascript" src="~/js/loader.js"></script>
        </environment>
        <script>
        $(document).ready(function () {
            initLoader('/Message/FindNext?query=@ViewBag.Query', '#message_table_body', @Model.RetrievedResultCount, @ViewBag.QueryLimit);
        });
        </script>
    }
}