@using SharedLibraryCore.Dtos.Meta.Responses
@model SharedLibraryCore.Helpers.ResourceQueryHelperResult<MessageResponse>

<div class="content mt-0">
@if (ViewBag.Error != null)
{
    <h2 class="content-title text-red mt-20">@Utilities.FormatExt(ViewBag.Localization["WEBFRONT_INVALID_QUERY"], ViewBag.Error.Message)</h2>
}

else
{
    <h2 class="content-title mt-20 mb-0">@ViewBag.Localization["WEBFRONT_SEARCH_RESULTS_TITLE"]</h2>
    <div class="text-muted mb-15">@Html.Raw(Utilities.FormatExt(ViewBag.Localization["WEBFRONT_STATS_MESSAGES_FOUND"], $"<span class=\"badge\">{Model.TotalResultCount.ToString("N0")}</span>"))</div>

    <table class="table bg-dark-dm bg-light-lm rounded" style="table-layout: fixed">
        <thead class="d-none d-lg-table-header-group">
            <tr class="bg-primary text-light">
                <th colspan="20%">@ViewBag.Localization["WEBFRONT_PENALTY_TEMPLATE_ADMIN"]</th>
                <th colspan="45%">@ViewBag.Localization["WEBFRONT_ACTION_LABEL_MESSAGE"]</th>
                <th colspan="20%">@ViewBag.Localization["WEBFRONT_STATS_MESSAGE_SERVER_NAME"]</th>
                <th colspan="15%" class="text-right">@ViewBag.Localization["WEBFRONT_ADMIN_AUDIT_LOG_TIME"]</th>
            </tr>
        </thead>
        <tbody id="message_table_body">
            <partial name="~/Views/Client/Message/_Item.cshtml" model="@Model.Results" />
        </tbody>
    </table>

    <div id="loaderLoad" class="mt-10 m-auto text-center">
        <i class="loader-load-more oi oi-chevron-bottom"></i>
    </div>

    @section scripts {
        <script>
        $(document).ready(function () {
            initLoader(`/Message/FindNext${window.location.search}`, '#message_table_body', @Model.RetrievedResultCount, 30);
        });
        </script>
    }
}
</div>
