<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title | IW4MAdmin</title>
    <meta property="og:title" content="@ViewBag.Title | IW4MAdmin">
    <meta property="og:type" content="website">
    <meta property="og:image" content="@ViewBag.Url/images/icon.png">
    <meta property="og:description" content="@ViewBag.Description">
    <meta property="og:url" content="@ViewBag.Url">
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/open-iconic/font/css/open-iconic-bootstrap.css" />
    </environment>
    <environment names="Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/open-iconic/font/css/open-iconic-bootstrap.min.css" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            @Html.ActionLink("IW4MAdmin", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item text-center text-md-left">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item text-center text-md-left">@Html.ActionLink("Penalties", "List", "Penalty", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item text-center text-md-left">@Html.ActionLink("Admins", "PrivilegedAsync", "Client", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item text-center text-md-left">@Html.ActionLink("Console", "Index", "Console", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (!string.IsNullOrEmpty(ViewBag.DiscordLink))
                    {
                        <li class="nav-item text-center text-md-left"><a href="@ViewBag.DiscordLink" class="nav-link" target="_blank">Discord</a></li>
                    }
                    @if (ViewBag.Authorized)
                    {
                        <li class="nav-item text-center text-md-left">@Html.ActionLink("", "ProfileAsync", "Client", new { id = ViewBag.User.ClientId }, new { @class = "nav-link oi oi-person oi-fix-navbar w-100", title = "Client Profile" })</li>
                    }
                    else
                    {

                        <li class="nav-item text-center text-md-left"><a href="#" id="profile_action_login_btn" class="nav-link profile-action oi oi-key oi-fix-navbar w-100" title="Login" data-action="login" aria-hidden="true"></a></li>
                    }
                </ul>
                <form class="form-inline text-primary pt-3 pb-3" method="get" action="/Client/FindAsync">
                    <input id="client_search" name="clientName" class="form-control mr-auto ml-auto mr-md-2" type="text" placeholder="Find Player" />
                </form>
            </div>
        </nav>
    </header>

    <!-- Main Modal -->
    <div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title" id="mainModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-danger">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Modal -->
    <!-- Action Modal -->
    <div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="actionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title" id="actionModalLabel">IW4MAdmin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-danger">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-primary">Action</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>-->
            </div>
        </div>
    </div>
    <div id="target_id">
        @RenderSection("targetid", required: false)
    </div>
    <!-- End Action Modal -->

    <div class="container pt-0 pb-4 pl-4 pr-4">
        @RenderBody()
        <footer></footer>
    </div>
    <environment names="Development">
        <script type="text/javascript" src="~/lib/jQuery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/moment/moment.js"></script>
        <script type="text/javascript" src="~/lib/moment-timezone/builds/moment-timezone-with-data.js"></script>
        <!--<script type="text/javascript" src="~/lib/popper.js/dist/popper.js"></script>-->
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/js/global.js"></script>
    </environment>
    <environment names="Production">
        <script type="text/javascript" src="~/lib/jQuery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="~/lib/moment-timezone/builds/moment-timezone.min.js"></script>
        <!--<script type="text/javascript" src="~/lib/popper.js/dist/popper.min.js"></script>-->
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/global.js"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>