@model Dictionary<Data.Models.Client.EFClient.Permission, IList<SharedLibraryCore.Dtos.ClientInfo>>
<div class="content mt-0">
    <h4 class="content-title mt-20">@ViewBag.Title</h4>


    @foreach (var key in Model.Keys)
    {
        <table class="table mb-20" style="table-layout:fixed;">
            <thead>
            <tr class="level-bgcolor-@((int)key)">
                <th class="text-light">@key.ToLocalizedLevelName()</th>
                <th>Game</th>
                <th class="text-right font-weight-bold">@ViewBag.Localization["WEBFRONT_SEARCH_LAST_CONNECTED"]</th>
            </tr>
            </thead>
            <tbody>
            <has-permission entity="ClientLevel" required-permission="Read">
                @foreach (var client in Model[key].OrderByDescending(client => client.LastConnection))
                {
                    if (!ViewBag.Authorized && client.IsMasked)
                    {
                        continue;
                    }
                    <tr class="bg-dark-dm bg-light-lm">
                        <td>
                            @if (client.IsMasked)
                            {
                                <span data-toggle="tooltip" data-title="@ViewBag.Localization["WEBFRONT_PRIVILEGED_TOOLTIP_MASKED"]">
                                    <span class="oi oi-shield mr-5 font-size-12"></span>
                                </span>
                            }

                            <a asp-controller="Client" asp-action="Profile" asp-route-id="@client.ClientId">
                                <color-code value="@client.Name"></color-code>
                            </a>
                        </td>
                        <td>
                            <div class="badge">@ViewBag.Localization[$"GAME_{client.Game}"]</div>
                        </td>
                        <td class="text-right">
                            @client.LastConnection.HumanizeForCurrentCulture()
                        </td>
                    </tr>
                }
            </has-permission>
            </tbody>
        </table>
    }
</div>
