@model string

<h6 class="dropdown-header">@ViewBag.Localization["WEBFRONT_ADVANCED_SEARCH_TITLE"]</h6>
<div class="dropdown-divider"></div>
<div class="dropdown-content">

    <div class="form-group" id="searchTypeSelectorParent">
        <label for="searchType@(Model)">@ViewBag.Localization["WEBFRONT_ADVANCED_SEARCH_LABEL_FOR"]</label>
        <br/>
        <select class="form-control" id="searchType@(Model)" name="searchType">
            <option value="client">@ViewBag.Localization["WEBFRONT_ADVANCED_SEARCH_SELECT_TYPE_PLAYERS"]</option>
            <option value="chat">@ViewBag.Localization["WEBFRONT_ADVANCED_SEARCH_SELECT_TYPE_CHAT"]</option>
        </select>
    </div>
    <form asp-controller="Client" asp-action="AdvancedFind" method="get" id="advancedSearchDropdownContent@(Model)" onsubmit="showLoader()">
        <partial name="Search/_ClientSearch.cshtml" model="@Model"/>
    </form>
    <form asp-controller="Stats" asp-action="FindMessage" method="get" onsubmit="showLoader()">
        <partial name="Search/_ChatSearch.cshtml" model="@Model"/>
    </form>
</div>
