@model IEnumerable<StatsWeb.Dtos.ChatSearchResult>

@foreach (var message in Model)
{
    <!-- desktop -->
    <tr class="d-none d-lg-table-row">
        <td>
            <a asp-controller="Client" asp-action="ProfileAsync" asp-route-id="@message.ClientId" class="link-inverse">
                <color-code value="@message.ClientName" allow="@ViewBag.EnableColorCodes"></color-code>
            </a>
        </td>
        <td class="text-light w-50 text-break">
            <color-code value="@message.Message" allow="@ViewBag.EnableColorCodes"></color-code>
        </td>
        <td class="text-light">
            <color-code value="@(message.ServerName ?? "--")" allow="@ViewBag.EnableColorCodes"></color-code>
        </td>
        <td class="text-right text-light">
            @message.Date
        </td>
    </tr>

    <!-- mobile -->
    <tr class="d-table-row d-lg-none bg-dark">
        <th scope="row" class="bg-primary">@ViewBag.Localization["WEBFRONT_PENALTY_TEMPLATE_ADMIN"]</th>
        <td class="text-light">
            <a asp-controller="Client" asp-action="ProfileAsync" asp-route-id="@message.ClientId" class="link-inverse">
                <color-code value="@message.ClientName" allow="@ViewBag.EnableColorCodes"></color-code>
            </a>
        </td>
    </tr>

    <tr class="d-table-row d-lg-none bg-dark">
        <th scope="row" class="bg-primary">@ViewBag.Localization["WEBFRONT_ACTION_LABEL_MESSAGE"]</th>
        <td class="text-light">
            <color-code value="@message.Message" allow="@ViewBag.EnableColorCodes"></color-code>
        </td>
    </tr>

    <tr class="d-table-row d-lg-none bg-dark">
        <th scope="row" class="bg-primary">@ViewBag.Localization["WEBFRONT_STATS_MESSAGE_SERVER_NAME"]</th>
        <td class="text-light">
            <color-code value="@(message.ServerName ?? "--")" allow="@ViewBag.EnableColorCodes"></color-code>
        </td>
    </tr>

    <tr class="d-table-row d-lg-none bg-dark">
        <th scope="row" class="bg-primary" style="border-bottom: 1px solid #222">@ViewBag.Localization["WEBFRONT_ADMIN_AUDIT_LOG_TIME"]</th>
        <td class="text-light mb-2 border-bottom">
            @message.Date
        </td>
    </tr>
}