@model IEnumerable<WebfrontCore.QueryHelpers.Models.BanInfo>

@foreach (var ban in Model)
{
    if (ban.AttachedPenalty is null && !ban.AssociatedPenalties.Any())
    {
        continue;
    }

    <div class="card p-10 m-0 mt-15 mb-15">
        <div class="d-flex flex-row flex-wrap">
            <div class="d-flex p-15 mr-md-10 w-full w-md-200 bg-very-dark-dm bg-light-ex-lm rounded">
                <div class="align-self-center ">
                    <a asp-controller="Client" asp-action="Profile" asp-route-id="@ban.ClientId" class="font-size-18 no-decoration">@ban.ClientName</a>
                    <has-permission entity="ClientGuid" required-permission="Read">
                        <div class="text-muted">@ban.NetworkId.ToString("X")</div>
                    </has-permission>
                    <has-permission entity="ClientIPAddress" required-permission="Read">
                        <div class="text-muted">@ban.IPAddress.ConvertIPtoString()</div>
                    </has-permission>
                    @if (ban.AttachedPenalty is not null)
                    {
                        <br/>
                        <div class="text-muted font-weight-light">@ban.AttachedPenalty.Offense.CapClientName(30)</div>
                        <div class="text-danger font-weight-light">@ban.AttachedPenalty.DateTime.ToStandardFormat()</div>
                        <div class="btn profile-action mt-10 w-100" data-action="unban" data-action-id="@ban.ClientId">Unban</div>
                    }
                    else
                    {
                        <br/>
                        <div class="align-self-end text-muted font-weight-light">
                            <span class="oi oi-warning font-size-12"></span>
                            <span>Link-Only Ban</span>
                        </div>
                    }
                </div>

            </div>

            @foreach (var associatedEntity in ban.AssociatedPenalties)
            {
                <div class="d-flex flex-wrap flex-column w-full w-md-200 p-10">
                    <div data-toggle="tooltip" data-title="Linked via shared IP" class="d-flex">
                        <i class="oi oi-link-intact align-self-center"></i>
                        <div class="text-truncate ml-5 mr-5">
                            <a asp-controller="Client" asp-action="Profile" asp-route-id="@associatedEntity.OffenderInfo.ClientId" class="font-size-18 no-decoration">@associatedEntity.OffenderInfo.ClientName</a>
                        </div>
                    </div>
                    <has-permission entity="ClientGuid" required-permission="Read">
                        <div class="text-muted">@associatedEntity.OffenderInfo.NetworkId?.ToString("X")</div>
                    </has-permission>
                    <has-permission entity="ClientIPAddress" required-permission="Read">
                        <div class="text-muted">@associatedEntity.OffenderInfo.IPAddress.ConvertIPtoString()</div>
                    </has-permission>
                    <br/>
                    <div class="text-muted font-weight-light">@associatedEntity.Offense.CapClientName(30)</div>
                    <div class="text-danger font-weight-light">@associatedEntity.DateTime.ToStandardFormat()</div>
                    <div class="btn profile-action mt-10 w-100" data-action="unban" data-action-id="@associatedEntity.OffenderInfo.ClientId">Unban</div>
                </div>
            }
        </div>
    </div>
}
